canvas{
	border: 1px solid #000000;
	transform: scale(0.6);
	margin-top:-130px ;
}
/* 编辑画布内容 */
.modify label{
	width: 80px;
	text-align: right;
}
.modify li{
	list-style: none;
	margin-top: 20px;
}
.footer-save{
	position: absolute;
	left: 600px;
	top:10px;
	}
.footer-save input{
	min-width:150px;
	min-height: 50px;
}
.footer-save #btn2{
	margin-left: 40px;
}